{% extends "main.html" %} 
{% block title %}Blood Available{% endblock %}

{% block body %}
{% include "navigation.html" %}
<div class="row">
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for A+</h5>
          {% if AP == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text"><h4>{{ AP|floatformat:2 }} L</h4></p>
          {% endif %}
          <a href="{% url 'bType' blood='A+' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for A-</h5>
          {% if AN == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ AN }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='A-' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for B+</h5>
          {% if BP == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ BP }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='B+' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for B-</h5>
          {% if BN == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ BN }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='B-' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for AB+</h5>
          {% if ABP == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ ABP|floatformat:2 }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='AB+' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for AB-</h5>
          {% if ABN == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ ABN }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='AB-' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for O+</h5>
          {% if OP == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ OP }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='O+' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
<div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
    <div class="card text-right" style="width: 18rem; background-color: #fffefe1a; border-radius: 1.25rem;">
        <div class="card-body">
          <h5 class="card-title text-left"><i class="fa-solid fa-droplet" style="color: red;"></i> Available for O-</h5>
          {% if ON == None %}
          <p class="card-text">No Available</p>
          {% else %}
          <p class="card-text">{{ ON }} L</p>
          {% endif %}
          <a href="{% url 'bType' blood='O-' %}" class="btn btn-primary">Show</a>
        </div>
      </div>
</div>
</div>
{% endblock %}
