{% extends "main.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
{% include "navigation.html" %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="alertM" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

  <div class="container">
    <div class="card" style="width: 100%; background-color: rgba(255, 255, 255, 0.164);">
        <div class="card-body">
            <h3 class="card-title mb-4">Change Password</h3>
            <div class="container card-text">
                <form action="" method="post">
                    {% csrf_token %}

                    <label for="Old Password" >Old Password:</label>
                    {{ form.old_password }}
                    <br>
                    <label for="New Password">New Password:</label>
                    {{ form.new_password1 }}
                    <br>
                    <label for="Confirm Password">Confirm Password:</label>
                    {{ form.new_password2 }}
                    <br>
                    <div class="text-right">
                        <input type="checkbox" onclick="showp()">                   <small>Show Password</small>
                        <button type="submit" class="btn btn-primary">Save Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showp() {
            const x = document.getElementById("cPassword");
            if (x.type == "password"){
                x.type = "text"
            }else{
                x.type = "password"
            }
        }
</script>

{% endblock %}