<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">
    + Add
  </button>
  
  <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby=ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 700px;">
      <div class="modal-content" style="background-color: #5e0c77;">
        <div class="modal-header">
          <h4 class="modal-title">+ Add Donation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: #fff;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form action="submit" method="post" class="row" id="Donar_Form">
                {% csrf_token %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <select class="form-control" id="" name="gender">
                        <option selected>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email"class="form-control" name="email">
                    </div>
                    <div class="form-group">
                      <label for="contact">Contact</label>
                      <input type="tel" class="form-control" name="contact">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" rows="3" name="address"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="date">Donation Date</label>
                      <input type="date" class="form-control" name="date">
                    </div>
                    <div class="form-group">
                      <label for="blood">Blood Type</label>
                      <input type="text" class="form-control" name="blood" placeholder="O+ or O-">
                    </div>
                    <div class="form-group">
                      <label for="volume">Blood Volume</label>
                      <input type="number" class="form-control" name="volume">
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button onclick="form_submit()" type="submit" class="btn btn-primary" data-target="Donar_Form">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function form_submit() {
      document.getElementById("Donar_Form").submit();
     }    
    </script>