{% extends "main.html" %}
{% block title %}Donations{% endblock %}

{% block body %}
{% include "navigation.html" %}

<h1>Donations</h1> 
{% include "donarForm.html" %}
  
<table class="table table-striped" style="color: #fff;">
    <thead style="background-color: #a81d63;">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Blood Type</th>
            <th>Vloume</th>
        </tr>
    </thead>
    <tbody>
        {% for donar in details %}
        <tr>
            <td>{{donar.name}}</td>
            <td>{{donar.contact}}</td>
            <td>{{donar.blood}}</td>
            <td>{{donar.volume}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}