{% extends "main.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
{% include "navigation.html" %}

  <div class="container">
    <div class="card" style="width: 100%; background-color: rgba(255, 255, 255, 0.164);">
        <div class="card-body">
            <h3 class="card-title">Edit User</h3>
            <div class="container card-text">
                <form method="post">
                    {% csrf_token %}
                    <label for="editUsername">Username :</label>
                    {{ form.username }}
                    <br>
                    <label for="editEmail">Email :</label>
                    {{ form.email }}
                    <div class="text-right mt-5">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}