{% extends "main.html" %}
{% block title %}Requests{% endblock %}

{% block body %}
{% include "navigation.html" %}

<h1>Blood Requests</h1> 
{% include "requestForm.html" %}


<table class="table table shadow" style="color: #fff;">
    <thead style="background-color: rgba(0, 0, 0, 0.47);">
        <tr class="text-center">
            <th>S.No</th>
            <th>Patient</th>
            <th>Blood Type (Volume)</th>
            <th>Physician</th>
            <th>Requisition Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patientDetails %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{patient.patientName}}</td>
            <td>{{patient.patientBlood}} ({{patient.patientBloodVolume}} ml)</td>
            <td>{{patient.patientPhysician}}</td>
            <td>{{patient.patientRequisitionDate}}</td>
            <td>{{patient.patientStatus}}</td>
            <td>
                <a href="/viewPatient/{{patient.id}}" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#ModalCenter2"><i class="fas fa-eye text-white" ></i></a> |
                <a href="/updatePatient/{{patient.id}}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pen text-white"  data-toggle="modal" data-target="#ModalCenter1"></i></a> | 
                <a href="/deletePatient/{{patient.id}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash text-white"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    
</script>

{% endblock %}