{% extends "main.html" %}

{% block body %}
<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row card d-flex" style="background-color: rgba(239, 252, 252, 0.103); width: 100vh;">
    <h1 class="pl-2"><i class="fas fa-pen text-white" style="font-size: 30px;"></i> <u>Edit</u></h1>
    <div class="pl-3 pr-3">
        <form action="/updatePatient/{{patient.id}}" method="POST" class="post-form row" id="Request_Form">
            {% csrf_token %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="patientName">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" value="{{patient.patientName}}">
                  </div>
                  <div class="form-group">
                    <label for="patientAge">Age</label>
                    <input type="number" class="form-control" name="patientAge" value="{{patient.patientAge}}">
                  </div>
                  <div class="form-group">
                    <label for="patientGender">Gender</label>
                    <select class="form-control" name="patientGender">
                    <option selected hidden>{{patient.patientGender}}</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="patientContact">Contact</label>
                    <input type="tel" class="form-control" name="patientContact" value="{{patient.patientContact}}">
                  </div>
                  <div class="form-group">
                    <label for="patientPhysician">Physician Name</label>
                    <input type="text" class="form-control" name="patientPhysician" value="{{patient.patientPhysician}}">
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="patientBlood">Blood Type</label>
                    <select class="form-control" name="patientBlood">
                      <option selected hidden>{{patient.patientBlood}}</option>
                      <option>A+</option>
                      <option>A-</option>
                      <option>B+</option>
                      <option>B-</option>
                      <option>AB+</option>
                      <option>AB-</option>
                      <option>O+</option>
                      <option>O-</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="patientBloodVolume">Blood Volume</label>
                    <input type="number" class="form-control" name="patientBloodVolume" min="100" max="1000" value="{{patient.patientBloodVolume}}">
                  </div>
                  <div class="form-group">
                    <label for="patientStatus">Status</label>
                    <select class="form-control" name="patientStatus">
                    <option selected hidden>{{patient.patientStatus}}</option>
                      <option>Pending</option>
                      <option>Approved</option>
                      <option>Handover</option>
                      <option>Denied</option>
                    </select> 
                  </div>
                  <div class="form-group">
                    <label for="patientRequestDate">Date</label>
                    <input type="date" class="form-control" name="patientRequestDate" value="{{patient.patientRequestDate|date:'Y-m-d'}}">
                  </div>
                  <div class="form-group">
                    <label for="patientRequisitionDate">Requisition of Blood</label>
                    <input type="date" class="form-control" name="patientRequisitionDate" value="{{patient.patientRequisitionDate|date:'Y-m-d'}}">
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-end" style="width: 100%;">
                    <button type="button" class="btn btn-success" onclick="window.history.back()">Back</button>
                    <button type="submit" class="btn btn-primary ml-3">Save</button>
                  </div>
          </form>
    </div>
  </div>
</div>
{% endblock %}